<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> 
</head>
<body>
	<h1>New Book</h1>
	<form action="#" th:action="@{/newbook}"  th:object= ${book} method="post">
	<p>Title: <input type="text" th:field="${book.title}" /></p>
	<p>Author: <input type="text" th:field="${book.author}" /></p>
	<p>ISBN: <input type="text" th:field="${book.isbn}" /></p>
	<p>Year: <input type="text" th:field="${book.year}" /></p>
	<p>Price: <input type="text" th:field="${book.price}" /></p>
	<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</form><br>
	
	<a href="/books">Booklist</a><br>
	<a href="/index">Back to Index</a>   
</body>
</html>