<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Bookstore</title>
<meta charset="ISO-8859-1">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>

	<nav style="background-color: gray; padding: 0px 5px 0px 5px;">
		<a href="/booklist" class="btn btn-success">Booklist</a>
		<a sec:authorize="hasAuthority('ADMIN')" href="/newbook" class="btn btn-success">New Book</a>	
		<div style="float: right;">
			<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger" />
			</form>
		</div>
	</nav>

	<div class="col-md-4" style="padding: 5px" >
	<h1>Bookstore</h1>
	</div>
	<div class="col-md-4" style="padding: 5px">
	<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h3>
	</div>
	<p style="padding: 5px">This is the starting page of my bookstore project.</p>

	
</body>
</html>